# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\eclipse\idea_workplace\停车场管理系统\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
